<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="newtonsoft.json" value="C:\Users\D991961\Work\connection-test\newtonsoft.json" />
    <add key="qliksense.netsdk" value="C:\Users\D991961\Work\connection-test\qliksense.netsdk" />
    <add key="qliksenserestclient" value="C:\Users\D991961\Work\connection-test\qliksenserestclient" />
  </packageSources>
</configuration>